* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header .box-header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.header .box-header .box:nth-child(2) {
  position: relative;
}

/* 
meskipun sudah display grid,
ukuran gambar harus dijadikan 100%
agar tidak fix dan dapat dibagi grid nya
*/
.header .box-header .box:nth-child(2) img {
  width: 100%;
  height: 100%;
}
